{% extends 'base.html' %}
{% load crispy_forms_filters %} {% block content %} {% load crispy_forms_tags %} {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/ccargo.css' %}"/>
        <title>Cargos</title>
    </head>
    <body>
    <main class="container mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="nav-link" href="/cargos/importar/">
                <button class="button btn1 " id="import"><span>Importar xlsx</span></button>
            </a>
            <a class="nav-link" href="/cargos/exportar/">
                <button class="button btn1" id="export"><span>Exportar xlsx</span></button>
            </a>
        </div>
        <div class="col-md">
            <form
                    action="/cargos/crear/"
                    method="post"
                    class="card card-body h-100 border-primary">
                <div class="card-header">
                    <h1 class="text-center mb-4">Crear Un Cargo</h1>
                    {{ error }} {% csrf_token %} {{ form|crispy }}
                    <button class="buttong" id="guardar">Guardar</button>
                    <a class="buttonv btn btn-danger" href="/" role="button" id="volver">Volver</a>
                </div>
                <div class="card-body">
                    <ul id="columns" class="col-md-9 list-group-horizontal">
                        
                        {% for cargo_nombre in cargos_nombre %}
                            <li>{{ cargo_nombre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </main>
    <div class="footer">
        <p>Heavens Fruit. - Todos los derechos reservados ©</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}{% for m in messages %}
        <script>
            Swal.fire({
                title: "CARGO CREADO CORRECTAMENTE",
                text: "El cargo {{m}} ha sido creado correctamente",
                icon: "success",
            });
        </script>
    {% endfor %}{% endif %}
    </body>
    </html>
{% endblock %}
