{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/Cempleado.css' %}"/>
    <title>Crear Empleado</title>
  </head>
  <body>
  <main class="container mt-4">
      <div>
        <form action="/empleados/crear/" method="post" class="card card-body h-100 border-primary">
          <h1 class="text-center mb-4">Crear Un Empleado</h1>
          {{ error }} {% csrf_token %} {% crispy form %}
        </form>
      </div>
  </main>
  </body>
</html>
{% endblock %}
