{% extends 'base.html' %} {% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/cfestivo.css' %}"/>
        <title>Crear Festivo</title>
    </head>
    <body>
    <main class="container mt-4">
        <div class="col-md-6 offset-md-3 mt-5">
            <form action="/festivos/crear/" method="post" class="card card-body h-100 border-primary">
                <div class="card-header">
                    <h1 class="text-center mb-4">Crear Un Festivo</h1>
                    {{ error }} {% csrf_token %} {{ form|crispy }}
                    <button class="btn btn-primary"> Guardar</button>
                </div>
                <div class="card-body">
                    <ul class="col-md-5 list-group-horizontal">
                        <br>
                        {% for festivo_nombre in festivos_nombre %}
                            <li id="columnas">{{ festivo_nombre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </main>
    <div class="footer">
        <p>Heavens Fruit. - Todos los derechos reservados ©</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}{% for m in messages %}
        <script>
            Swal.fire({
                title: "DÍA FESTIVO CREADO CORRECTAMENTE",
                text: "El festivo {{m}} ha sido creado correctamente",
                icon: "success",
            });
        </script>
    {% endfor %}{% endif %}
    </body>
    </html>
{% endblock %}  