{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/Cempleado.css' %}"/>
    <title>Crear Empleado</title>
  </head>
  <body>
  <main class="container mt-4">
      <div>
        <form action="/empleados/crear/" method="post" class="card card-body h-100 border-primary">
          <div class="card-header">
          <h1 class="text-center mb-4">Crear Un Empleado</h1>
          </div>
          <div class="card-body">
          {{ error }} {% csrf_token %} {% crispy form %}
          </div>
        </form>
      </div>
  </main>
  <div class="footer">
    <p>Heavens Fruit. - Todos los derechos reservados ©</p>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {%if messages%}{% for m in messages%}
    <script>
      Swal.fire({
        title: "EL EMPLEADO {{m}} HA SIDO CREADO CORRECTAMENTE",
        icon: "success",
      });
    </script>
    {% endfor %}{%endif%}
  </body>
</html>
{% endblock %}
