{% extends 'base.html' %} {% load static %} {% block content %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Crear Jornada</title>
    <link rel="stylesheet" href="{% static 'css/Cjornada.css' %}"/>
    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS v5.2.1 -->
    <br />
  </head>
  <body>
    <main class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form action="/jornadas/crear/" method="post" class="card card-body border-primary">
            <h2 class="text-center">Nueva Transacción</h2>
            {{ error }} {% csrf_token %} {{ form|crispy }} {{ Invalido }}
            <button class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
{% endblock %}
