{% load static %}
<!doctype html>
<html lang="en">
<head>
  <title>Loguin</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
   <!--custom css-->
    <link rel="stylesheet" href="{% static 'css/loguearte.css' %}"/>
</head>

<body>
  <div class="container ">
      <div class="row vh-100 justify-content-center align-items-center box w-100 p-3">
          <div class=" col-lg-5 col-md-6 col-sm-6 container justify-content-center card bg-dark  mb-3 ">
              <br>
              <h3 style="color:#FFFFFF; font-family: 'Montserrat'" class="text-center ">Iniciar Sesión
                  <img class="small" src="../static/img/Logo.png">
              </h3>
              <form action="/loguearte/" method="post">
                  {% csrf_token %}
                  <form class="form-signin" method="POST" action="/login">
                      <div class="card-body border-primary mb-3">
                          <div class="form-floating mb-3  ">
                              <input style="font-family: 'Montserrat'" type="text" placeholder="Usuario" name="username" class="form-control">
                              <label style="font-family: 'Montserrat'" for="floatingInput">Usuario</label>
                          </div>
                          <div class="form-floating mb-3">
                              <input style="font-family: 'Montserrat'" type="password" name="password" placeholder="Ingrese Contraseña" class="form-control" >
                              <label style="font-family: 'Montserrat'" for="floatingInput">Contraseña</label>
                          </div>
                          <input href="/" type="submit" value="Iniciar Sesión" style="font-family: 'Montserrat'"> 
                      </div>     
                      
                      <br>
                  </form>
              </form>
          </div>
      </div>
      {{ error }}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
      </script>

</body>

</html>

    

    


