{% extends 'base.html' %}
{% load crispy_forms_filters %} {% block content %}
    {% load crispy_forms_tags %}
    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{% static 'css/cfestivo.css' %}"/>
        <title>Crear Festivo</title>
    </head>
    <body>
    <main class="container mt-4">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="nav-link" href="/festivos/importar/">
                <button class="button btn1" id="import"><span>Importar xlsx</span></button>
            </a>
            <a class="nav-link" href="/festivos/exportar/">
                <button class="button btn1" id="export"><span>Exportar xlsx</span></button>
            </a>
        </div>
        <div class="col-md-6 offset-md-3">
            <form action="/festivos/crear/" method="post" class="card card-body h-100 border-primary">
                <div class="card-header">
                    <h1 class="text-center mb-4">Crear Un Festivo</h1>
                    {{ error }} {% csrf_token %} {{ form|crispy }}
                    <button class="buttong bg" id="guardar"> Guardar</button>
                    <a class="buttonv btv" href="/" role="button" id="volver">Volver</a>
                </div>
                <div class="card-body">
                    <ul id="colums" class="col-md-5 list-group-horizontal">
                        
                        {% for festivo_nombre in festivos_nombre %}
                            <li id="columnas">{{ festivo_nombre }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </form>
        </div>
    </main>
    <div class="footer">
        <p>Heavens Fruit. - Todos los derechos reservados ©</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}{% for m in messages %}
        <script>
            Swal.fire({
                title: "DÍA FESTIVO CREADO CORRECTAMENTE",
                text: "El festivo {{m}} ha sido creado correctamente",
                icon: "success",
            });
        </script>
    {% endfor %}{% endif %}
    </body>
    </html>
{% endblock %}  