{% extends 'ope_base.html' %}
{% load crispy_forms_filters %} {% block content %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Eliminar Jornada Operaciones</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
    crossorigin="anonymous"/>
    <!----- CSS LOCAL  ------>
    <link rel="stylesheet" href="{% static 'css/ejornada.css' %}"/>
    <br>
</head>
<body>
    <main class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5 ">
                <form method="post" class="card card-body">
                    <h1 class="text-center text-danger">Eliminar Jornada Operaciones<br> {{ jornada.empleado.nombre }}</h1>
                    {{ error }} {% csrf_token %} {{ form|crispy }}
                    <button class="btn btn-danger">Eliminar</button>
                    <br>
                    <a class="buttonv btn btn-info" href="/operaciones/jornadas/" role="button" id="volver">Volver</a>
                </form>
            </div>
        </div>
    </main>
    {% if messages %}{% for m in messages %}
    <script>
        Swal.fire({
            title: "OPERACION CREADO CORRECTAMENTE",
            text: "{{m}}",
            icon: "success",
        });
    </script>
{% endfor %}{% endif %}
</body>
</html>
{% endblock %}