@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

body {
  height: 100vh;
  background-image: url(../img/fondojornadas.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

form {
  font-family: 'Noto Sans Display', sans-serif;

}

.card {

  position: relative;
  top: 50px;

}

/*      PIE DE PAGINA      */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.2%;
  width: 100%;
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
}

h1 {
  text-align: left;
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  color: #003cff;
  font-weight: bold;
}

/*    ESTILO EN LOS BOTONES DE GUARDAR Y VOLVER       */

#submit-id-submit {

  position: relative;
  left: -150px;
  height: 40px;
  width: 120px;
  top: 0px;

}

.btn {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  padding: 10px 28px;
  text-decoration:none;
  border-radius: 0;
}

.btn:hover{

  color: #fff;

}


*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.btn {
  border: none;
  background-color: #2600ff;
  box-shadow: 0 0 5px #1900ff;
}

.btn:hover {
  box-shadow: 0 0 10px #a797ef, 0 0 20px #a797ef, 0 0 20px #d4d1fd inset;
}


#volver {

  position: relative;
  left: 700px;
  height: 40px;
  width: 120px;
  top: -32px;


}

.custom-btn2 {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  padding: 10px 28px;
  text-decoration:none;
}

.custom-btn2:hover{

  color: #fff;

}


*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.btn-2 {
  border: none;
  background-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
}

.btn-2:hover {
  box-shadow: 0 0 10px #ef9797, 0 0 20px #ef9797, 0 0 20px #fdd1d1 inset;
}

/*      MODELO DE PAGINA RESPONSIVE       */

@media screen and (max-width: 1366px),
screen and (max-height: 900px) {

  body {

    font-size: 13px;

  }

  .card {

    position: relative;
    top: -10px;

  }

/*     ESTILOS EN LOS BOTONES DE GUARDAR Y VOLVER      */

  #submit-id-submit {

    position: relative;
    left: -120px;
    height: 40px;
    width: 120px;
    top: 0px;

  }

  .btn {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    padding: 10px 28px;
    text-decoration:none;
    border-radius: 0;
  }
  
  .btn:hover{
  
    color: #fff;
  
  }
  
  
  *,
  *:before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  .btn {
    border: none;
    background-color: #0044ff;
    box-shadow: 0 0 5px #001aff;
  }
  
  .btn:hover {
    box-shadow: 0 0 10px #9d97ef, 0 0 20px #a797ef, 0 0 20px #e4d1fd inset;
  }

  #volver {

    position: relative;
    right: -580px;
    top: -31px;
    height: 40px;
    width: 120px;


  }

  .custom-btn2 {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    padding: 10px 28px;
    text-decoration:none;
  }
  
  .custom-btn2:hover{
  
    color: #fff;
  
  }
  
  
  *,
  *:before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
  }
  
  .btn-2 {
    border: none;
    background-color: #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }
  
  .btn-2:hover {
    box-shadow: 0 0 10px #ef9797, 0 0 20px #ef9797, 0 0 20px #fdd1d1 inset;
  }


}