@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

/*        LLAMADO DE COLUMNAS DESDE CSS       */

#colums {
  display: grid;
  grid-template-columns: 210px 200px;
  column-count: 2;
  column-gap: 130px;
  -webkit-column-count: 2;
  -webkit-column-gap: 130px;
  -moz-column-count: 2;
  -moz-column-gap: 130px;
  -o-column-count: 2;
  -o-column-gap: 130px;
  -ms-column-count: 2;
  -ms-column-gap: 130px;
}

body {
  height: 100vh;
  background-image: url(../img/fondojornadas.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Noto Sans Display', sans-serif;
}

/*         PIE DE PAGINA            */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.2%;
  width: 100%;
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-family: 'Noto Sans Display', sans-serif;
  font-size: 15px;
}

h1 {
  text-align: left;
  font-family: 'Noto Sans Display', sans-serif;
  font-style: italic;
  color: #003cff;
  font-weight: bold;
}

/*        ESITLOS PARA LOS BOTONES DE IMPORTAR Y EXPORTAR EXCEL         */

#import {

  position: relative;
  left: 402px;
  top: 70px;

}

#export {

  position: relative;
  left: 190px;
  top: 150px;

}

.btn1 {
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 10px 50px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn1 span {
  position: relative;
  z-index: 1;
}

.btn1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #789cd2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn1:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

#guardar {

  position: relative;
  left: 120px;
  height: 40px;
  width: 120px;

}

.buttong {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  padding: 10px 28px;
  text-decoration: none;
}

.buttong:hover {

  color: #fff;
  transition: 0.5s;

}


*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.bg {
  border: none;
  background-color: #1900ff;
  box-shadow: 0 0 5px #1900ff;
}

.bg:hover {
  box-shadow: 0 0 10px #979def, 0 0 20px #9897ef, 0 0 20px #d5d1fd inset;
}

#volver {

  position: relative;
  right: -225px;
  top: 0px;
  height: 40px;
  width: 120px;

}

.buttonv {
  font-family: 'Noto Sans Display', sans-serif;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  padding: 10px 28px;
  text-decoration: none;
}

.buttonv:hover {

  color: #fff;

}


*,
*:before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s;
}

.btv {
  border: none;
  background-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
}

.btv:hover {
  box-shadow: 0 0 10px #ef9797, 0 0 20px #ef9797, 0 0 20px #fdd1d1 inset;
}



/*     MODELADO DE PAGINA RESPONSIVE      */

@media screen and (max-width: 1366px),
screen and (max-height: 900px) {

  /*       CARD PEQUEÑO        */

  .card {

    position: relative;
    width: 800px;
    left: -100px;

  }

  /*      LLAMADO DE COLUMNAS DESDE CSS         */

  #colums {
    display: grid;
    grid-template-columns: 210px 200px 200px;
    column-count: 3;
    column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -o-column-count: 3;
    -o-column-gap: 20px;
    -ms-column-count: 3;
    -ms-column-gap: 20px;
  }

  body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 14px;
  }

  /*     PIE DE PAGINA      */

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
  }

  h1 {
    text-align: left;
    font-family: 'Noto Sans Display', sans-serif;
    font-style: italic;
    color: #003cff;
    font-weight: bold;
  }

  /*   ESTILOS DE BOTONES DE GUARDAR Y EXPORTAR    */

  #import {

    position: relative;
    left: 250px;
    top: 70px;

  }

  #export {

    position: relative;
    left: 58px;
    top: 150px;

  }

  .btn1 {
    border: none;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    background-color: #222;
    padding: 10px 50px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
  }

  .btn1 span {
    position: relative;
    z-index: 1;
  }

  .btn1:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #789cd2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }

  .btn1:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

  /*      ESTILOS DE BOTONES GUARDAR Y VOLVER        */


  #guardar {

    position: relative;
    left: 180px;
    height: 40px;
    width: 120px;

  }

  .buttong {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    padding: 10px 28px;
    text-decoration: none;
  }

  .buttong:hover {

    color: #fff;
    transition: 0.5s;

  }


  *,
  *:before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
  }

  .bg {
    border: none;
    background-color: #1900ff;
    box-shadow: 0 0 5px #1900ff;
  }

  .bg:hover {
    box-shadow: 0 0 10px #979def, 0 0 20px #9897ef, 0 0 20px #d5d1fd inset;
  }


  #volver {

    position: relative;
    right: -260px;
    top: 0px;
    height: 40px;
    width: 120px;

  }

  .buttonv {
    font-family: 'Noto Sans Display', sans-serif;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    padding: 10px 28px;
    text-decoration: none;
  }

  .buttonv:hover {

    color: #fff;

  }


  *,
  *:before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
  }

  .btv {
    border: none;
    background-color: #ff0000;
    box-shadow: 0 0 5px #ff0000;
  }

  .btv:hover {
    box-shadow: 0 0 10px #ef9797, 0 0 20px #ef9797, 0 0 20px #fdd1d1 inset;
  }

}