@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');



.card {
    width: 320px;
    height: 220px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    font-family: 'Noto Sans Display', sans-serif;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Texto*/
.text-title {
    font-size: 1.2em;
    font-weight: bolder;
    font-family: 'Noto Sans Display', sans-serif;
}


.card:hover {
    border-color: #008bf8;
    box-shadow: 0 20px 18px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-20px);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

img.crearempleado {

    width: 70px;
    height: 70px;

}

img.crearempleado:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}

@keyframes swing {
    15% {
        transform: rotate(20deg);
    }

    30% {
        transform: rotate(-20deg);
    }

    50% {
        transform: rotate(30deg);
    }

    65% {
        transform: rotate(-30deg);
    }

    80% {
        transform: rotate(15deg);
    }

    90% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 600px;
}

.container {
    position: absolute;
    top: 82%;
    left: 55%;
    transform: translate(-50%, -50%);

}

body {
    height: 100vh;
    background-image: url(../img/bkhomw2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Inicio para escoger roles*/

.texts-body {
    color: rgb(126, 124, 124);
}

/*Texto*/
.texts-title {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Noto Sans Display', sans-serif;
}



.grids {
    display: grid;
    grid-template-columns: 800px 800px 10px;
    grid-template-rows: 500px 50px 180px;
}

.containers {
    position: absolute;
    top: 161%;
    left: 63%;
    transform: translate(-50%, -50%);

}

img.crearempleados {

    width: 70px;
    height: 70px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

img.opmanguito {

    width: 180px;
    height: 180px;
    position: relative;
    left: 130px;
    top: 50px;
    transition: transform .7s ease-in-out;
}

img.opmanguito:hover {
    animation: swings 1s ease;
    animation-iteration-count: 1;
}

@keyframes swings {
    20% {
        transform: translateY(-30px);
    }

    40% {
        transform: translateY(0px);
    }


    60% {
        transform: translateY(-30px);
    }

    80% {
        transform: translateY(0px);
    }

}

.userlog {

    font-family: 'Noto Sans Display', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    top: 20px;
    text-align: center;
}

/*Animación de home*/


body {
    margin: 0;
}

h1 {
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 48px;
    padding-right: 130px;
}


.header {
    position: relative;
    text-align: center;
    background-image: url(../img/bkhome.png);
    color: white;
}

.inner-header {
    height: 80vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animacion menu hamburguesa */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

.logo {
    width: 170px;
    fill: white;
    display: inline-block;
    vertical-align: middle;
    padding-right: 0px;
}

h5 {

    font-size: 14px;
    font-family: 'Noto Sans Display', sans-serif;
    vertical-align: middle;

}

*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu {
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    transition: box-shadow 1.1s cubic-bezier(.19, 1, .22, 1);
}

.menu:hover {
    box-shadow: 0 0 0 8px #030303, 0 0 0 8px #0e0c0c;
}

.hamburguer {
    position: relative;
    display: block;
    background: #000;
    width: 30px;
    height: 2px;
    transition: .5s ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
    background: #000;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.hamburguer::before {
    top: -10px;
}

.hamburguer::after {
    bottom: -10px;
}

input {
    display: none;
}

input:checked~ul {
    opacity: 1;
    visibility: visible;
}

input:checked~label .menu {
    box-shadow: 0 0 0 130vw #fff, 0 0 0 100vh #fff;
}

input:checked~label .hamburguer {
    transform: rotate(45deg);
}

input:checked~label .hamburguer::before {
    transform: rotate(90deg);
    top: 0;
}

input:checked~label .hamburguer::after {
    transform: rotate(90deg);
    bottom: 0;
}

/*Menu hamburguesa animacion de texto*/

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    opacity: 0;
    transition: .25s .1s cubic-bezier(0, 1.07, 0, 1.02);
    visibility: hidden;
}

a.salir {
    color: #a00c7b;
    font-size: 48px;
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #a41cff;
}

.text {
    color: #000000;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
    right: -38px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }

    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

/*responsive*/

@media screen and (max-width: 1366px),
screen and (max-height: 900px) {

    .card {
        width: 270px;
        height: 150px;
        border-radius: 20px;
        background: #f5f5f5;
        position: relative;
        padding: 1.8rem;
        border: 2px solid #c3c6ce;
        transition: 0.5s ease-out;
        overflow: visible;

    }

    .card-details {
        color: black;
        height: 100%;
        gap: .5em;
        display: grid;
        place-content: center;
    }

    .card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 1rem;
        border: none;
        background-color: #008bf8;
        color: #fff;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
    }

    .text-body {
        color: rgb(134, 134, 134);
    }

    /*Texto*/
    .text-title {
        font-size: 1em;
        font-weight: bold;
        font-family: 'Noto Sans Display', sans-serif;
    }


    .card:hover {
        border-color: #008bf8;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-20px);
    }

    .card:hover .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
    }

    img.crearempleado {

        width: 40px;
        height: 40px;

    }

    .grid {
        display: grid;
        grid-template-columns: 350px 350px 400px;
        grid-template-rows: 200px 200px 400px;
    }

    .container {
        position: absolute;
        top: 70%;
        left: 55%;
        transform: translate(-50%, -50%);

    }

    img.opmanguito {

        width: 180px;
        height: 180px;
        position: relative;
        left: 130px;
        top: 50px;
        transition: transform .7s ease-in-out;
    }
    
    img.opmanguito:hover {
        animation: swings 1s ease;
        animation-iteration-count: 1;
    }

    @keyframes swings {
        20% {
            transform: translateY(-30px);
        }

        40% {
            transform: translateY(0px);
        }


        60% {
            transform: translateY(-30px);
        }

        80% {
            transform: translateY(0px);
        }

    }

    body {
        height: 100vh;
        background-image: url(../img/fondojornadas.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .grids {
        display: grid;
        grid-template-columns: 737px 716px;
        grid-template-rows: 394px;
    }

    .containers {
        position: absolute;
        top: 20%;
        left: 55%;
        transform: translate(-50%, -50%);

    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Noto Sans Display', sans-serif;
    font-size: 15px;
}



#section01 a {
    padding-top: 60px;
}

#section01 a span {
    position: absolute;
    top: 77%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}



.cards--1 .cards__img,
.cards--1 .cards__img--hover {
    background-image: url(../img/RRHH.png);
}

.cards--2 .cards__img,
.cards--2 .cards__img--hover {
    background-image: url(../img/pitaya.jpg);
}

.cards__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.cards__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.cards__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 238px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.cards {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 33.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 20px 20px 20px -7px rgba(0, 0, 0, 0.1);
}

.cards:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.cards__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.cards__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Noto Sans Display', sans-serif;
}


.cards:hover .cards__img--hover {
    height: 100%;
    opacity: 0.4;
}

.cards:hover .cards__info {
    background-color: transparent;
    position: relative;
}

.cards:hover .cards__info-hover {
    opacity: 1;
}