@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    font-size: 13.8px;
    font-family: 'Noto Sans Display', sans-serif;
}