@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap');

body {

    font-family: 'Noto Sans Display', sans-serif;

}

a {

    color: aliceblue;
    font-size: 15px;

}

/*     BOTON HAMBURGUER PERSONALIZADO CON BOOTSTRAP     */

.custom-toggler.navbar-toggler {
    border-color: rgb(153, 144, 238);
}


.custom-toggler .navbar-toggler-icon {
    background-image: url(../img/purple.png)
}

/*    BARRA DE NAVEGACIÓN      */

.nav-item {
    width: 290px;
    margin: 0;
    position: relative;
    left: -20px;
    border-top: 5px solid #ffffff;
    display: inline-block;

}

.nav-item a {

    display: block;
    padding: 20px;
    background: linear-gradient(135deg, rgb(255, 255, 255) rgb(255, 255, 255)65);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    transition: color 0.2s, background 0.5s;
    margin: 2px;
}

.nav-item a:hover {
    color: #000000;
}

.nav-item ::after {
    color: #000000;
    content: "";
    background-color: white;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;

}

.nav-item :hover::after {

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;

}

/*     ANCHO DEL NAVBAR     */

#offcanvasDarkNavbar {

    width: 15%;

}



/*   MODELO RESPONSIVE   */

@media screen and (max-width: 1366px),
screen and (max-height: 900px) {

    #offcanvasDarkNavbar {

        width: 15%;

    }


    .nav-item {
        width: 195px;
        margin: 0;
        position: relative;
        left: -20px;
        border-top: 5px solid #ffffff;
        display: inline-block;

    }


}