ul {
    display: grid;
    grid-template-columns: 230px 280px;
    column-count: 2;
    column-gap:55px;
    -webkit-column-count: 2;
    -webkit-column-gap:55px;
    -moz-column-count: 2;
    -moz-column-gap: 55px;
    -o-column-count: 2;
    -o-column-gap: 55px;
    -ms-column-count: 2;
    -ms-column-gap: 55px;
  }

body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Book'
}
