#columns {
    display: grid;
    grid-template-columns: 230px 280px 280px 280px;
    column-count: 4;
    column-gap:55px;
    -webkit-column-count: 4;
    -webkit-column-gap:55px;
    -moz-column-count: 4;
    -moz-column-gap: 55px;
    -o-column-count: 4;
    -o-column-gap: 55px;
    -ms-column-count: 4;
    -ms-column-gap: 55px;
  }

body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Book'
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 2.2%;
  width: 100%;
  background-color: rgb(54, 54, 54);
  color: white;
  text-align: center;
  font-family: 'Franklin Gothic Book';
  font-size: 15px;
}