ul {
    display: grid;
    grid-template-columns: 220px 200px;
    column-count: 2;
    column-gap:100px;
    -webkit-column-count: 2;
    -webkit-column-gap:100px;
    -moz-column-count: 2;
    -moz-column-gap: 100px;
    -o-column-count: 2;
    -o-column-gap: 100px;
    -ms-column-count: 2;
    -ms-column-gap: 100px;
}

body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat';
}

