.html,
body {
    height: 100vh;
    font-family: 'Franklin Gothic Book';
}

body {
    background-image: url(../img/fondojornadas.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

form {
    font-family: 'Franklin Gothic Book';
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Book';
    font-size: 15px;
}

h1 {
    text-align: left;
    font-family: 'Franklin Gothic Book';
    font-style: italic;
    color: #003cff;
    font-weight: bold;
}

