.card {
    width: 320px;
    height: 220px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body {
    color: rgb(134, 134, 134);
}

/*Texto*/
.text-title {
    font-size: 1em;
    font-weight: bold;
    font-family: 'Montserrat';
}


.card:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
}

img.crearempleado {

    width: 70px;
    height: 70px;

}

.grid {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px 300px;
}

.container {
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);

}

body {
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
