.centered {
    text-align: center !important;
    vertical-align: middle !important;
}
.html, body{
    height: 100vh;
    background-image: url(../img/M2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;
}