.centered {
    text-align: center !important;
    vertical-align: middle !important;
}
.html, body{
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Book';
    font-size: 15px;
}
h1 {
    font-family: 'Franklin Gothic Book';
    font-weight: bold;
  }

th{
    font-family: 'Franklin Gothic Book';
    
}

.card{
    display: flex;
    justify-content: center;
}

thead{
    color: rgb(0, 0, 0);

}

tbody{
    font-family: 'Franklin Gothic Book';
}


.btn{

    font-family: 'Franklin Gothic Book';

}
/*Spinner*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2.2%;
    width: 100%;
    background-color: rgb(54, 54, 54);
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Book';
    font-size: 15px;
  }