.centered {
    text-align: center !important;
    vertical-align: middle !important;
}
.html, body{
    height: 100vh;
    background-image: url(../img/fondojornadas.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
h1 {
    font-family: 'Montserrat';
    font-weight: bold;
  }

th{
    font-family: 'Montserrat';
    font-size: 14px;
}

.card{
    display: flex;
    justify-content: center;
}

thead{
    color: rgb(0, 0, 0);

}

tbody{
    font-family: 'Montserrat';
    font-size: 12px;
}