body{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


img.small{
    width: 160px;
    height: 125px;
  }

  .container input[type="submit"]{
    margin: 10px;
    border:none;
    outline: none;
    height: 40px;
    background-color: rgb(247, 230, 0);
    color: #000;
    font-size: 17px;
    border-radius: 5px;
	position: relative;
	left: 120px;
    
}
.container input[type="submit"]:hover{
    color: #f7f7f7;
    background-color: rgb(255, 244, 89) ;
}
