body{
    margin: 0;
    padding: 0;
    background: url(../img/M2.jpg) no-repeat center top ;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.contenedor {
    width: 620px;
    height: 400px;
    background: rgba(0, 0, 0, .5) ;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10%;
    border: 3px solid rgb(0, 0, 0);
    
    
}

.log {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border: 3px solid rgb(76, 13, 105);
}   

.contenedor h1{
    
    color: #fff;
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Shadows Into Light', cursive;
}   
.contenedor label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
   
  }
.contenedor input{
    width: 100%;
    margin: 5px;
}
.contenedor input[type="text"],
.contenedor input[type="password"]{

border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 30px;
color: #000000;
font-size: 16px;
}
.contenedor input[type="submit"]{
    margin: 10px;
    font-family: 'Shadows Into Light', cursive;
    border:none;
    outline: none;
    height: 40px;
    background-color: rgb(230, 218, 152);
    color: #000;
    font-size: 19px;
    border-radius: 20px;
    
}
.contenedor a{
    
    font-family: 'Shadows Into Light', cursive;
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    margin: 10px;
    
}
.contenedor input[type="submit"]:hover{
    color: #f7f7f7;
    background-color: rgba(0, 0, 0, .2) ;
}
